In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv("dataayu.csv");
data.head()

   UMUR  BB  TB  KETERANGAN
0     1   2  46           0
1     3   2  48           1
2     1   2  50           1
3     1   2  45           1
4     1   2  45           1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UMUR        5681 non-null   int64
 1   BB          5681 non-null   int64
 2   TB          5681 non-null   int64
 3   KETERANGAN  5681 non-null   int64
dtypes: int64(4)
memory usage: 177.7 KB

In [10]:
x = data.drop(["KETERANGAN"], axis = 1)

In [11]:
x.head()

   UMUR  BB  TB
0     1   2  46
1     3   2  48
2     1   2  50
3     1   2  45
4     1   2  45

In [12]:
y =  data["KETERANGAN"]

In [13]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: KETERANGAN, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
modelnb = GaussianNB()

In [17]:
nbtrain = modelnb.fit(x_train, y_train)

In [18]:
y_pred = nbtrain.predict(x_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [19]:
np.array(y_test)

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [20]:
nbtrain.predict_proba(x_test)

array([[0.03158371, 0.96841629],
       [0.01937637, 0.98062363],
       [0.02298804, 0.97701196],
       ...,
       [0.00136391, 0.99863609],
       [0.00447174, 0.99552826],
       [0.00261635, 0.99738365]])

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   0,   26],
       [   0, 1111]], dtype=int64)

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        26
           1       0.98      1.00      0.99      1111

    accuracy                           0.98      1137
   macro avg       0.49      0.50      0.49      1137
weighted avg       0.95      0.98      0.97      1137

c:\xampp\htdocs\klasifikasi\venv\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\xampp\htdocs\klasifikasi\venv\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\xampp\htdocs\klasifikasi\venv\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))