In [23]:
import pandas as pd
import numpy as np

In [26]:
Immunotherapy = pd.read_csv("datamentah.csv", delimiter = ",")

In [27]:
Immunotherapy.head()

,No RM,Usia,Jenis Kelamin,GDP,GDPP,TD,Nyeri,Lemas,RIWA1T,Diagnosa
0,15804,59,1,137,215,172,0,1,1,1
1,467,72,1,95,90,102,1,0,1,1
2,4851,71,0,260,221,139,0,1,1,1
3,24312,60,0,201,102,102,1,1,1,1
4,152,49,0,99,116,72,1,1,1,1

In [28]:
Immunotherapy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No RM          268 non-null    int64
 1    Usia          268 non-null    int64
 2   Jenis Kelamin  268 non-null    int64
 3   GDP            268 non-null    int64
 4   GDPP           268 non-null    int64
 5   TD             268 non-null    int64
 6   Nyeri          268 non-null    int64
 7   Lemas          268 non-null    int64
 8   RIWA1T         268 non-null    int64
 9   Diagnosa       268 non-null    int64
dtypes: int64(10)
memory usage: 21.1 KB

In [29]:
# Variabel independen
x = Immunotherapy.drop(["Diagnosa"], axis = 1)
x.head()

   No RM   Usia   Jenis Kelamin  GDP  GDPP   TD  Nyeri  Lemas  RIWA1T
0  15804      59              1  137   215  172      0      1       1
1    467      72              1   95    90  102      1      0       1
2   4851      71              0  260   221  139      0      1       1
3  24312      60              0  201   102  102      1      1       1
4    152      49              0   99   116   72      1      1       1

In [30]:
# Variabel dependen
y = Immunotherapy["Diagnosa"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Diagnosa, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)

In [33]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()  
scaler.fit(x_train)
x_train = scaler.transform(x_train)  
x_test = scaler.transform(x_test)

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knn = KNeighborsClassifier(n_neighbors=4)

In [36]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [37]:
y_pred = knn.predict(x_test)
y_pred

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1], dtype=int64)

In [38]:
knn.predict_proba(x_test)

array([[0.  , 1.  ],
       [0.75, 0.25],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.25, 0.75],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.25, 0.75],
       [0.75, 0.25],
       [1.  , 0.  ],
       [0.75, 0.25],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.75, 0.25],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.5 , 0.5 ],
       [0.25, 0.75],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.25, 0.75],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.75, 0.25],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.75, 0.25],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.25, 0.75],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ]])

In [41]:
from sklearn.metrics import classification_report, confusion_matrix

In [42]:
print(confusion_matrix(y_test, y_pred))

[[25  0]
 [ 1 28]]

In [43]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        25
           1       1.00      0.97      0.98        29

    accuracy                           0.98        54
   macro avg       0.98      0.98      0.98        54
weighted avg       0.98      0.98      0.98        54